html body
{
	margin: 0px;
	padding: 100px;
	font-family: Helvetica;
	background-color: #F78181;
}

html body header
{
	background-color: #BEF781;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;	
	z-index: 1;
}

html body header > img
{
	height: 100px;
	width: 100px;	
	position: absolute;
	left: 20px;
	top: 2px;
}

html body footer
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #BEF781;	
}

html body footer ul
{
	margin-top: 10px;
}

html body > div.container section
{
	margin-top: 20px;	
}

html body div.container > section div
{
	color: #FFFFFF;
	background-color: #424242;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	padding: 20px 0px;
}

#placeholder
{
	font-weight: bold;
	font-size: 2em;
	line-height: 2em;
	height: 2em;
	text-align: center;
}